@charset "UTF-8";

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]:invalid {
  -webkit-box-shadow: initial;
  box-shadow: initial;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

ol,
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  color: #525470;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #F0F1F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body._header-menu {
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1390px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.show-modal,
.scroll-lock {
  overflow: hidden;
}

h1,
.h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 120.6%;
}

h2,
.h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120.6%;
}

h3,
.h3 {
  font-weight: 700;
  font-size: 17px;
  line-height: 120.6%;
}

.title {
  margin-bottom: 30px;
}

.c-orange {
  color: #FF9933;
}

.c-green {
  color: #90AB75;
}

.c-dark {
  color: #525470;
}

.c-light {
  color: #E0E2ED;
}

.c-dividers {
  color: #B5B9CF;
}

.c-bg {
  color: #F0F1F7;
}

.c-white {
  color: #FFFFFF;
}

.main-grid {
  min-height: 100%;
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 30px 30px;
}

.main-grid__content {
  min-width: 0;
  padding-bottom: 100px;
}

.main-grid .inner-grid {
  padding: 0;
}

.inner-grid {
  display: grid;
  grid-template-columns: 1fr 315px;
  gap: 30px 30px;
  padding-bottom: 100px;
}

.inner-grid__content {
  min-width: 0;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #B5B9CF;
  color: #90AB75;
}

.social-link:hover {
  border-color: #90AB75;
  background: #90AB75;
  color: #fff;
}

.social-link__icon {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  max-width: 80%;
  max-height: 80%;
}

.social-link_vk {
  background: #0077FF;
  border: none;
  color: #fff;
}

.social-link_fb {
  background: #0B84EE;
  border: none;
  color: #fff;
}

.social-link_ig {
  background: -o-radial-gradient(102.01% 2.03%, 230.93% 230.93%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  border: none;
  color: #fff;
}

.social-link_ig:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#90AB75), to(#90AB75));
  background: -o-linear-gradient(bottom, #90AB75, #90AB75);
  background: linear-gradient(0deg, #90AB75, #90AB75);
}

.social-link_yt {
  background: #E60000;
  border: none;
  color: #fff;
}

.social-link_tg {
  background: #27A6E5;
  border: none;
  color: #fff;
}

.social-link_ok {
  background: #F79A38;
  border: none;
  color: #fff;
}

.social-link_wa {
  background: #48C95F;
  border: none;
  color: #fff;
}

.social-link_vb {
  background: #7C509A;
  border: none;
  color: #fff;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__item:last-child {
  margin: 0;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rating__star {
  margin-right: 3px;
  color: #F0F1F7;
}

.rating__star:last-child {
  margin: 0;
}

.rating__star._active {
  color: #FF9933;
}

.text-box {
  line-height: 150.5%;
}

.text-box p,
.text-box ul,
.text-box ol {
  margin: 10px 0;
}

.text-box h1,
.text-box h2,
.text-box h3,
.text-box h4,
.text-box h5 {
  margin: 20px 0 10px;
  line-height: 150.5%;
  font-weight: 500;
}

.text-box > *:first-child {
  margin-top: 0;
}

.text-box > *:last-child {
  margin-bottom: 0;
}

.text-box h2 {
  font-size: 24px;
}

.text-box h3 {
  font-size: 20px;
}

.text-box_t2 h1,
.text-box_t2 h2,
.text-box_t2 h3,
.text-box_t2 h4,
.text-box_t2 h5 {
  margin: 10px 0;
}

.text-box .text-box__table-head {
  margin: 20px 0 0;
}

.text-box ul li {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 23px;
}

.text-box ul li:last-child {
  margin-bottom: 0;
}

.text-box ul li::before {
  content: "—";
  font-size: 1em;
  margin-right: 13px;
  color: #90AB75;
}

.text-box ol,
.styled-num-list {
  counter-reset: 'list-count';
}

.text-box ol li,
.styled-num-list li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 23px;
}

.text-box ol li:last-child,
.styled-num-list li:last-child {
  margin-bottom: 0;
}

.text-box ol li::before,
.styled-num-list li::before {
  counter-increment: list-count;
  content: counter(list-count) ".";
  margin-right: 15px;
}

.styled-list li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 23px;
}

.styled-list li:last-child {
  margin-bottom: 0;
}

.styled-list li::before {
  content: "\2022";
  color: #90AB75;
  font-size: 1.5em;
  margin-right: 15px;
}

.styled-list.styled-list_t2 li {
  margin-bottom: 6px;
}

.styled-list.styled-list_t2 li:last-child {
  margin-bottom: 0;
}

.styled-list.styled-list_t2 li::before {
  content: "—";
  font-size: 1em;
  margin-right: 13px;
}

.map-resize > ymaps {
  width: 100% !important;
}

.map-resize > ymaps > ymaps {
  width: 100% !important;
}

.company-items {
  margin-top: 100px;
}

.company-items__title {
  margin-bottom: 30px;
}

.company-map {
  width: 100%;
  height: 500px;
  background: #fff;
}

.map-box {
  display: none;
}

.main-title {
  margin-top: 30px;
}

.main-title_maw700 {
  max-width: 700px;
}

.table-box {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px 20px 20px;
}

.styled-table {
  text-align: left;
  width: 100%;
  border-spacing: 0;
  font-size: 15px;
  line-height: 23px;
}

.styled-table thead th {
  padding: 8px 20px 8px 0;
  border-bottom: 2px solid #90AB75;
  font-weight: 700;
  vertical-align: bottom;
  color: #525470;
  white-space: nowrap;
}

.styled-table thead th span {
  display: block;
  font-weight: 400;
}

.styled-table thead th:last-child {
  padding-right: 0;
}

.styled-table tbody th,
.styled-table tbody td {
  font-weight: 400;
  padding: 8px 20px 9px 0;
  border-bottom: 1px solid #E0E2ED;
}

.styled-table tbody th:last-child,
.styled-table tbody td:last-child {
  padding-right: 0;
}

.styled-table tbody td {
  white-space: nowrap;
}

.styled-table tbody tr:last-child th,
.styled-table tbody tr:last-child td {
  border-bottom: none;
}

.map-reception-points {
  margin-top: 10px;
  width: 100%;
  height: 395px;
}

.map-reception-points__map {
  width: 100%;
  height: 100%;
}

.tags-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px 2px 0;
}

.swiper-lazy-preloader {
  border-color: #9eb587;
  border-top-color: transparent;
}

.slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 40px;
  margin-top: -20px;
  border-radius: 4px;
  background: #90AB75;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.slider-btn:hover {
  background: #759159;
}

.slider-btn_prev {
  left: -20px;
}

.slider-btn_next {
  right: -20px;
}

.slider-btn.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

.slider-btn.swiper-button-lock {
  display: none;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding-left: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  padding-top: 3px;
  min-height: 24px;
}

.checkbox:hover .checkbox__checkmark::after {
  border-color: #9eb587;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.checkbox__input:checked ~ .checkbox__checkmark {
  background: #90AB75;
  border-color: #90AB75;
}

.checkbox__input:checked ~ .checkbox__checkmark:after {
  border-color: #fff;
}

.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #525470;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.checkbox__checkmark:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 3px;
  width: 16px;
  height: 8px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox a {
  color: #90AB75;
}

.checkbox a:hover {
  color: #759159;
}

.radio-btn {
  display: block;
  position: relative;
  padding-left: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  min-height: 24px;
  padding-top: 3px;
}

.radio-btn:hover .radio-btn__checkmark::after {
  background: #9eb587;
}

.radio-btn__input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.radio-btn__input:checked ~ .radio-btn__checkmark {
  background: #90AB75;
  border-color: #90AB75;
}

.radio-btn__input:checked ~ .radio-btn__checkmark:after {
  background: #fff;
}

.radio-btn__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #525470;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.radio-btn__checkmark:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.select-style {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  max-width: 100%;
  background: #FFFFFF;
  border: 1px solid #B5B9CF;
  border-radius: 4px;
  font-size: 15px;
  line-height: normal;
  padding: 0 30px 0 15px;
}

.select-style.open,
.select-style:active,
.select-style:focus {
  border-color: #B5B9CF;
}

.select-style.open::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.select-style::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4.5px 0 4.5px;
  border-color: #90AB75 transparent transparent transparent;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  margin-top: -3px;
  right: 15px;
}

.select-style .nice-select-dropdown {
  min-width: 100%;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #B5B9CF;
}

.select-style .current {
  display: block;
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.select-style .option {
  padding: 5px 15px;
  line-height: normal;
  min-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: normal;
}

.select-style .nice-select-search {
  padding-right: 9px;
  padding-left: 9px;
}

.select-style_ilnine {
  height: auto;
  background: none;
  border: none;
  font-size: 15px;
  padding: 0 22px 0 0;
}

.select-style_ilnine::after {
  right: 0;
  margin-top: -1px;
}

.select-style_ilnine.open .nice-select-dropdown {
  -webkit-transform: scale(1) translate(-50%, 0);
  -ms-transform: scale(1) translate(-50%, 0);
  transform: scale(1) translate(-50%, 0);
}

.select-style_ilnine .nice-select-dropdown {
  min-width: 100%;
  max-width: none;
  left: 50%;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scale(0.75) translate(-50%, 19px);
  -ms-transform: scale(0.75) translate(-50%, 19px);
  transform: scale(0.75) translate(-50%, 19px);
}

.select-style_ilnine .current {
  color: #90AB75;
}

.select-style_ilnine .option {
  padding: 5px 10px;
  white-space: nowrap;
}

.input-style {
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  color: #525470;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid #c0d4ac;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: auto;
  width: 100%;
}

.input-style:focus {
  outline: none;
}

.input-style::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(82, 84, 112, 0.7);
}

.input-style::-moz-placeholder {
  opacity: 1;
  color: rgba(82, 84, 112, 0.7);
}

.input-style:-ms-input-placeholder {
  opacity: 1;
  color: rgba(82, 84, 112, 0.7);
}

.input-style::-ms-input-placeholder {
  opacity: 1;
  color: rgba(82, 84, 112, 0.7);
}

.input-style::placeholder {
  opacity: 1;
  color: rgba(82, 84, 112, 0.7);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  font-family: inherit;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  color: #FFFFFF;
  height: 40px;
  padding: 5px 20px;
  border-radius: 4px;
  background: #90AB75;
  border: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #9eb587;
}

.btn:active {
  background: #759159;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn.btn_outline {
  background: none;
  border: 1px solid #90AB75;
  border-radius: 4px;
  color: #525470;
}

.btn.btn_outline:hover {
  border-color: #9eb587;
  background: #9eb587;
  color: #fff;
}

.btn.btn_outline:active {
  border-color: #759159;
  background: #759159;
  color: #fff;
}

.btn.btn_outline.btn_dark {
  border-color: #000;
  color: #525470;
}

.btn.btn_outline.btn_dark:hover {
  border-color: #759159;
  background: none;
  color: #759159;
}

.btn.btn_outline.btn_dark:active {
  border-color: #9eb587;
  background: none;
  color: #9eb587;
}

.btn_light {
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  color: #525470;
}

.btn_light:hover {
  background: #FFFFFF;
  border-color: #759159;
  color: #759159;
}

.btn_light:active {
  background: #FFFFFF;
  border-color: #9eb587;
  color: #9eb587;
}

.btn_cart {
  width: 50px;
  padding: 0;
}

.btn_size_big {
  height: 43px;
  font-size: 18px;
}

.btn_size_large {
  height: 45px;
  font-size: 20px;
}

.btn_w_100p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.btn_tag {
  height: 43px;
  font-size: 18px;
}

.btn2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  font-family: inherit;
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  color: #90AB75;
  height: 30px;
  padding: 3px 11px;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.81);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.btn2:focus {
  outline: none;
}

.btn2:hover {
  background: rgba(255, 255, 255, 0.9);
}

.btn2:active {
  background: white;
}

.btn2:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn2__icon {
  margin-right: 8px;
  color: #5C5C5C;
}

.btn-finter {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #525470;
  height: 60px;
  padding: 3px 18px;
  border-radius: 0;
  background: #fff;
  border: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.btn-finter__icon {
  color: #90AB75;
  margin-right: 8px;
}

.breadcrumbs-box {
  padding: 25px 20px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #fff;
  gap: 0 10px;
  margin: 30px 0;
}

.breadcrumbs-box__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

.breadcrumbs-box__sort-form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}

.breadcrumbs-box__sort-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.breadcrumbs-box__label {
  margin-right: 12px;
}

.breadcrumbs-box__breadcrumbs {
  margin-bottom: 25px;
}

.breadcrumbs {
  font-size: 15px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.breadcrumbs__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 22px;
  margin-right: 18px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item::before {
  content: "/";
  color: #B5B9CF;
  margin-right: 16px;
}

.breadcrumbs a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #90AB75;
}

.breadcrumbs a:hover {
  color: #759159;
}

.tab-content-style {
  display: none;
}

.tab-content-style._active {
  display: block;
}

.tabs-style_head {
  position: relative;
  z-index: 1;
}

.tabs-style_head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #E0E2ED;
  z-index: -1;
}

.tabs-style_head .tabs-style__outer {
  padding: 20px 0 0 30px;
}

.tabs-style_head .tabs-style__inner::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 30px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.tabs-style__outer {
  overflow: auto;
}

.tabs-style__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.tabs-style__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  line-height: 120.6%;
  padding: 0 16px 10px;
  color: #90AB75;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
}

.tabs-style__item:last-child {
  margin-right: 0;
}

.tabs-style__item:hover {
  color: #759159;
}

.tabs-style__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border: 0px solid #90AB75;
  border-radius: 4px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.tabs-style__item._active {
  color: #525470;
}

.tabs-style__item._active::after {
  width: 100%;
  border-width: 1px;
}

.card-item {
  background: #fff;
  padding: 20px;
}

.card-item + .card-item {
  margin-top: 10px;
}

.card-item__top {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 0 17px;
}

.card-item__image {
  grid-row: auto / span 2;
}

.card-item__head {
  margin-bottom: 10px;
}

.card-item__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 120.6%;
  margin-bottom: 10px;
}

.card-item__title a:hover {
  color: #759159;
}

.card-item__review {
  font-size: 13px;
  color: #90AB75;
}

.card-item__review:hover {
  color: #759159;
}

.card-item__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.card-item__logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.card-item__text {
  line-height: 150%;
}

.card-item__text p {
  margin: 0;
}

.card-item__text p + p {
  margin: 0.7em 0 0;
}

.card-item__text:not(._active) .card-item__hidden {
  display: none;
}

.card-item__text._active .card-item__more svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.card-item__more {
  margin-top: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #90AB75;
  cursor: pointer;
}

.card-item__more:hover {
  color: #759159;
}

.card-item__more svg {
  margin-right: 8px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.card-item__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.card-item__btn {
  margin-right: 10px;
}

.card-item__btn:last-child {
  margin: 0;
}

.card-item__footer {
  margin-top: 20px;
  border-top: 1px solid #E0E2ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-item__contacts {
  margin-top: 12px;
  margin-right: 10px;
}

.card-item__social {
  margin-top: 12px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -8px;
}

.card-item__social .social-list__item {
  margin-bottom: 8px;
}

.card-item__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 8px -8px -7px 0;
}

.card-item__tag {
  margin: 0 8px 7px 0;
}

.card-item-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-item-rate__rating {
  margin-right: 12px;
}

.card-item-rate__review {
  font-size: 13px;
  color: #90AB75;
}

.card-item-rate__review:hover {
  color: #759159;
}

.card-item-contacts__item {
  margin-bottom: 8px;
}

.card-item-contacts__item:last-child {
  margin: 0;
}

.card-item-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 150.52%;
}

.card-item-contacts__link_green {
  color: #90AB75;
}

.card-item-contacts__phone {
  font-size: 20px;
  line-height: 120.64%;
}

.card-item-contacts a.card-item-contacts__link:hover {
  color: #759159;
}

.card-item-contacts__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 8px;
  color: #90AB75;
}

.card-main {
  background: #fff;
  margin-bottom: 10px;
}

.card-main__head {
  background: #E0E2ED;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 200px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.card-main__head-inner {
  background-color: #E0E2ED;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-main__head-title {
  max-width: 700px;
  margin-bottom: 20px;
}

.card-main__head-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: auto;
}

.card-main__head-btn {
  margin-right: 5px;
}

.card-main__head-btn:last-child {
  margin: 0;
}

.card-main__logo {
  position: absolute;
  top: 100%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-main__logo img {
  max-width: 100%;
  max-height: 100%;
}

.card-main__inner {
  padding: 30px;
}

.card-main__content::before {
  content: "";
  display: block;
  float: right;
  width: 200px;
  height: 70px;
}

.card-main__rate {
  margin-bottom: 20px;
}

.card-main__footer {
  margin-top: 20px;
  border-top: 1px solid #E0E2ED;
  padding-top: 20px;
}

.card-main__footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-main__footer-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-main__footer-btn {
  margin-right: 8px;
}

.card-main__footer-btn:last-child {
  margin: 0;
}

.card-main__contacts {
  margin: 0 0 20px 0;
}

.card-main__more {
  display: none;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #90AB75;
  cursor: pointer;
}

.card-main__more:hover {
  color: #759159;
}

.card-main__more svg {
  margin-right: 8px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.card-main__social {
  margin-right: -8px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.card-main__social .social-list__item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.card-main__social .social-list__item:last-child {
  margin-right: 8px;
}

.card-info {
  background: #fff;
  margin: 10px 0;
  padding: 20px;
}

.card-info__item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E0E2ED;
}

.card-info_location {
  padding: 10px 40px;
}

.review-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  line-height: 150.5%;
}

.review-item + .review-item {
  border-top: 1px solid #F0F1F7;
}

.review-item__avatar {
  margin-right: 14px;
}

.review-item__img {
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.review-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review-item__head-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 12px;
}

.review-item__name {
  color: #90AB75;
  margin-right: 12px;
}

.review-item__city {
  margin-right: 12px;
}

.review-item__date {
  color: #B5B9CF;
}

.review-item__reply {
  margin-top: 10px;
}

.review-item__reply-label {
  font-weight: 500;
  margin-bottom: 10px;
}

.header {
  position: relative;
  color: #FFFFFF;
  background: #90AB75;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 80px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 142px;
  margin-right: 20px;
}

.header__logo img {
  width: 100%;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 40px;
  padding-left: 24px;
  border-left: 1px solid #fff;
  font-size: 15px;
  line-height: 22px;
}

.header__contacts-label {
  margin-right: 10px;
}

.header__mail:hover {
  opacity: 0.8;
}

.header__search {
  max-width: 315px;
  width: 100%;
  height: 40px;
  margin: 0 52px 0 auto;
}

.header-search {
  position: relative;
  height: 40px;
  width: 100%;
}

.header-search__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  color: #525470;
  width: 100%;
  height: 40px;
  padding: 0 30px 0 15px;
  margin: 0;
  background: #FFFFFF;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: auto;
  width: 100%;
}

.header-search__input:focus {
  outline: none;
}

.header-search__input::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(82, 84, 112, 0.7);
}

.header-search__input::-moz-placeholder {
  opacity: 1;
  color: rgba(82, 84, 112, 0.7);
}

.header-search__input:-ms-input-placeholder {
  opacity: 1;
  color: rgba(82, 84, 112, 0.7);
}

.header-search__input::-ms-input-placeholder {
  opacity: 1;
  color: rgba(82, 84, 112, 0.7);
}

.header-search__input::placeholder {
  opacity: 1;
  color: rgba(82, 84, 112, 0.7);
}

.header-search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.header-search__icon {
  position: absolute;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #90AB75;
  pointer-events: none;
}

.header-signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-signin:hover {
  opacity: 0.8;
}

.header-signin__icon {
  margin-right: 8px;
}

.footer {
  padding: 50px 0 55px;
  background: #fff;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo {
  width: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
}

.footer__logo img {
  width: 100%;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copy {
  font-size: 13px;
  line-height: 137.9%;
  color: #B5B9CF;
  margin-bottom: 13px;
}

.footer__term {
  font-size: 17px;
  line-height: 117.2%;
  color: #90AB75;
}

.footer__term:hover {
  color: #9eb587;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contacts__item {
  margin-right: 55px;
}

.footer-contacts__item:last-child {
  margin: 0;
}

.footer-contacts__label {
  font-size: 13px;
  line-height: 137.9%;
  color: #000000;
  margin-bottom: 10px;
}

.footer-contacts__phone {
  font-weight: bold;
  font-size: 20px;
  line-height: 137.9%;
  color: #525470;
}

.footer-contacts__phone:hover {
  color: #759159;
}

.footer-contacts__mail {
  font-size: 17px;
  line-height: 28px;
  color: #90AB75;
}

.footer-contacts__mail:hover {
  color: #759159;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1px;
}

.sidebar__outer {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: -100vh -100vh 0 100vh #fff;
  box-shadow: -100vh -100vh 0 100vh #fff;
}

.sidebar__filter-close {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

.sidebar__content {
  padding: 30px 30px 30px 0;
}

.sidebar__item {
  margin-bottom: 30px;
}

.sidebar__item:last-child {
  margin: 0;
}

.sidebar__label {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 15px;
}

.sidebar__check-list li {
  margin-bottom: 10px;
}

.sidebar__check-list li:last-child {
  margin: 0;
}

a.sidebar__label:hover {
  color: #759159;
}

.sidebar-item-box {
  margin-bottom: 30px;
}

.sidebar-item-box:last-child {
  margin: 0;
}

.sidebar-item {
  width: 100%;
  padding: 30px 38px 40px;
  background: #fff;
}

.sidebar-item__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-item__img {
  width: 100%;
}

.gallery-box {
  padding: 20px 30px 30px;
  margin-bottom: 10px;
  background: #fff;
}

.gallery-box__title {
  margin-bottom: 15px;
}

.slider-gallery-wrapper {
  position: relative;
}

.gallery-item {
  width: 100%;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery-item__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border: 6px solid #90AB75;
}

.gallery-item__video-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 4px;
}

.gallery-item__video-btn::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.5px 0 8.5px 14px;
  border-color: transparent transparent transparent #90AB75;
}

.gallery-item__video-btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  opacity: .4;
  background: #fff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: video-bnt-aniamtion 1.3s ease-in .5s infinite;
  animation: video-bnt-aniamtion 1.3s ease-in .5s infinite;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes video-bnt-aniamtion {
  0% {
    width: 80%;
    height: 80%;
    opacity: 1;
  }

  100% {
    width: 150%;
    height: 150%;
    opacity: 0;
  }
}

@keyframes video-bnt-aniamtion {
  0% {
    width: 80%;
    height: 80%;
    opacity: 1;
  }

  100% {
    width: 150%;
    height: 150%;
    opacity: 0;
  }
}

.main-info {
  background: #fff;
}

.main-info__content {
  padding: 30px;
}

.main-info__content_slider {
  padding: 20px 30px 30px;
}

.main-info__content_info {
  padding: 30px 30px 35px;
}

.main-info__content_reviews {
  padding: 0;
}

.slider-product-wrapper {
  position: relative;
}

.slider-product-wrapper .slider-btn {
  top: 78px;
}

.product-item {
  display: block;
  font-size: 15px;
  line-height: 150.5%;
}

.product-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 155px;
  margin-bottom: 10px;
}

.product-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-item__name {
  margin-bottom: 4px;
}

.product-item__price {
  font-weight: 500;
}

.main-info-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-info-content__row + .main-info-content__row {
  margin-top: 30px;
}

.main-info-content__cell {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 30px;
}

.main-info-content__cell:last-child {
  margin: 0;
}

.main-info-content__label {
  margin: 30px 0 12px;
}

.main-info-content__label:first-child {
  margin-top: 0;
}

.location-head {
  background: url(../images/location-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 15px;
  color: #fff;
  margin: 20px 0 10px;
}

.location-head__inner {
  max-width: 1275px;
}

.location-head__inner h1,
.location-head__inner h2,
.location-head__inner h3 {
  line-height: 120.64%;
}

.location {
  padding: 35px 40px 48px;
  background: #fff;
  margin-bottom: 52px;
}

.location__title {
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e2ed;
  margin-bottom: 7px;
}

.location__separator {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-left: 26px;
  margin-bottom: 7px;
}

.location__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(120px, 248px));
  gap: 20px 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.location__list:last-child {
  margin-bottom: 0;
}

.btn-location {
  display: block;
  position: relative;
  height: 43px;
}

.btn-location__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  vertical-align: top;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #525470;
  padding: 10px 10px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #000;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.btn-location__inner img {
  display: block;
  width: calc(100% + 8px);
  max-width: none;
  margin: 0 -4px;
  height: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.location-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.location-footer__btn {
  white-space: normal;
  margin-right: 30px;
  height: auto;
  font-size: 20px;
  padding: 10px 20px;
}

.location-footer__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(82, 84, 112, 0.5);
  overflow: auto;
  display: none;
  z-index: 200;
}

.modal__outer {
  margin: 40px 20px;
  min-height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__inner {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal._active {
  display: block;
}

.modal__close {
  position: absolute;
  top: -40px;
  right: -4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.modal__body {
  position: relative;
  background: #fff;
  max-width: 360px;
  width: 100%;
  border: 4px solid #90AB75;
}

.modal__title {
  text-align: center;
  padding: 30px;
}

.modal__content {
  padding: 0 30px 30px;
}

.modal__row {
  margin-bottom: 20px;
}

.modal__row:last-child {
  margin-bottom: 0;
}

.modal__btn-send {
  margin-top: 30px;
}

.modal-close {
  width: 40px;
  height: 40px;
  color: #ffffff;
  background: #90AB75;
  cursor: pointer;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.modal-close::after,
.modal-close::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 10px;
  border-radius: 2px;
  width: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid currentColor;
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover {
  color: #E0E2ED;
  background: #9eb587;
}

@media screen and (min-width: 480px) {
  .card-main_vip .card-main__head-inner {
    background-color: transparent !important;
  }

  .card-main__head-inner {
    background-image: none !important;
  }
}

@media screen and (max-width: 4797px) {
  .review-item {
    padding: 20px;
  }

  .review-item__avatar {
    display: none;
  }

  .review-item__date {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  body._show-fitler {
    overflow: hidden;
  }

  .main-grid {
    grid-template-columns: 0px 100%;
    gap: 0 0;
  }

  .inner-grid {
    grid-template-columns: 100% 0px;
    gap: 30px 30px;
  }

  .inner-grid__sidebar {
    display: none;
  }

  .map-box {
    display: block;
    margin-bottom: 10px;
  }

  .btn-finter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .breadcrumbs-box {
    margin: 20px 0;
  }

  .header__search {
    margin-right: 40px;
    max-width: 280px;
  }

  .sidebar_filter .sidebar__filter-close {
    display: block;
  }

  .sidebar_filter .sidebar__outer {
    position: fixed;
    right: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 120;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(82, 84, 112, 0.5);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .sidebar_filter .sidebar__inner {
    max-width: 330px;
    width: 100%;
    background: #fff;
    height: 100%;
    position: relative;
  }

  .sidebar_filter .sidebar__content {
    height: 100%;
    padding: 30px 20px;
    overflow: auto;
  }

  .sidebar_filter._active .sidebar__outer {
    right: 0;
  }

  .gallery-item {
    height: 165px;
  }
}

@media screen and (max-width: 1023px) {
  .card-info_location {
    padding-right: 30px;
    padding-left: 30px;
  }

  .main-info-content__label {
    margin-top: 20px;
  }

  .main-info-content__row_t2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-info-content__row_t2 .main-info-content__cell {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0 0 20px;
  }

  .main-info-content__row_t2 .main-info-content__cell:last-child {
    margin: 0;
  }

  .location {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 991px) {
  .social-list__item {
    margin-right: 8px;
  }

  .company-items {
    margin-top: 70px;
  }

  .breadcrumbs-box {
    padding: 26px 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .breadcrumbs-box__breadcrumbs {
    width: 100%;
  }

  .breadcrumbs-box__breadcrumbs:last-child {
    margin-bottom: 0;
  }

  .breadcrumbs-box__sort {
    width: 100%;
    margin-bottom: 0;
  }

  .card-item__top {
    grid-template-columns: 1fr 80px;
    gap: 0 17px;
  }

  .card-item__logo {
    width: 80px;
    height: 80px;
  }

  .card-item__contacts {
    width: 100%;
    margin-right: 0;
  }

  .card-item__social {
    margin-top: 8px;
  }

  .card-item .card-item-contacts__phone {
    font-size: 15px;
  }

  .card-item .card-item-contacts__link {
    font-size: 15px;
  }

  .card-main__head {
    padding: 30px 178px 20px 30px;
  }

  .card-main__logo {
    width: 120px;
    height: 120px;
    top: 20px;
    right: 20px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .card-main__inner {
    padding: 30px 20px;
  }

  .card-main__content::before {
    display: none;
  }

  .card-main__social {
    max-width: 144px;
  }

  .card-info_location {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .header__contacts-label {
    margin-right: 0;
  }

  .footer-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-contacts__item {
    margin: 0 0 25px;
  }

  .footer {
    padding: 35px 0;
  }

  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .footer__right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .footer__logo {
    margin: 0 0 25px;
  }

  .location {
    padding-left: 20px;
    padding-right: 20px;
  }

  .location__list {
    grid-template-columns: repeat(3, minmax(120px, 248px));
  }

  .location-footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .location-footer__btn {
    margin: 0;
  }

  .location-footer__text {
    font-size: 17px;
    margin-top: 20px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 21px;
  }

  .company-items {
    margin-top: 50px;
  }

  .map-box {
    margin-right: -20px;
    margin-left: -20px;
  }

  .styled-table thead {
    display: none;
  }

  .styled-table tbody tr {
    display: block;
    margin-bottom: 10px;
  }

  .styled-table tbody tr:last-child {
    margin-bottom: 0;
  }

  .styled-table tbody tr:last-child td:last-child {
    padding: 0;
  }

  .styled-table tbody th {
    display: block;
    font-weight: 700;
    border: none;
    padding: 0 0 10px;
  }

  .styled-table tbody td {
    display: grid;
    grid-template-columns: minmax(200px, 50%) auto;
    border: none;
    padding: 0 0 6px;
  }

  .styled-table tbody td:last-child {
    border-bottom: 1px solid #E0E2ED;
    padding-bottom: 13px;
  }

  .styled-table tbody td::before {
    content: attr(data-label);
    white-space: normal;
    padding-right: 20px;
  }

  .text-box .text-box__table-head {
    margin: 20px 0;
  }

  .table-box {
    padding: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }

  .slider-btn_prev {
    left: -10px;
  }

  .slider-btn_next {
    right: -10px;
  }

  .btn_tag {
    height: 40px;
    font-size: 16px;
  }

  .breadcrumbs-box {
    padding: 14px 20px;
  }

  .breadcrumbs-box__breadcrumbs {
    margin-bottom: 15px;
  }

  .breadcrumbs {
    font-size: 13px;
    line-height: 20px;
  }

  .breadcrumbs__home {
    height: 20px;
    margin-right: 16px;
  }

  .breadcrumbs__item {
    margin-right: 14px;
  }

  .breadcrumbs__item::before {
    margin-right: 14px;
  }

  .tabs-style_head .tabs-style__outer {
    padding: 20px 0 0 20px;
  }

  .tabs-style_head .tabs-style__inner::after {
    width: 20px;
  }

  .tabs-style__item {
    font-size: 15px;
    padding: 0 16px 15px;
  }

  .card-item {
    grid-template-columns: 1fr 80px;
  }

  .card-item__image {
    grid-row: auto;
  }

  .card-item__content {
    grid-column: auto / span 2;
  }

  .card-item__logo {
    margin-bottom: 5px;
  }

  .card-main {
    margin-right: -20px;
    margin-left: -20px;
  }

  .card-main__head {
    padding: 30px 20px 20px;
  }

  .card-main__head-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .card-main__logo {
    position: static;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin: 0 12px 20px 0;
  }

  .card-main__inner {
    padding: 20px 20px 30px;
  }

  .card-main__footer-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .card-main__social {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 12px;
    max-width: calc(100% + 8px);
  }

  .card-main__contacts {
    width: 100%;
  }

  .card-info_location {
    margin-right: -20px;
    margin-left: -20px;
  }

  .review-item {
    padding: 20px;
  }

  .header__inner {
    min-height: 50px;
  }

  .header__logo {
    width: 95px;
  }

  .header__contacts {
    display: none;
  }

  .header__search {
    max-width: 176px;
    margin-right: 20px;
  }

  .footer-contacts__mail {
    font-size: 15px;
    line-height: 24px;
  }

  .footer__right {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  .footer__term {
    font-size: 15px;
  }

  .gallery-box {
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px 20px 30px;
  }

  .main-info {
    margin-right: -20px;
    margin-left: -20px;
  }

  .main-info__content_slider {
    padding: 20px 20px 30px;
  }

  .main-info__content_info {
    padding: 30px 20px;
  }

  .main-info-content__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-info-content__cell {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0 0 20px;
  }

  .main-info-content__cell:last-child {
    margin: 0;
  }

  .location-head {
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px;
  }

  .location {
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 40px;
  }

  .location__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-location {
    height: 40px;
  }

  .btn-location__inner {
    font-size: 15px;
    line-height: 19px;
  }

  .location-footer__btn {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1,
  .h1 {
    font-size: 17px;
  }

  h2,
  .h2 {
    font-size: 17px;
  }

  h3,
  .h3 {
    font-size: 16px;
  }

  .text-box h2 {
    font-size: 17px;
  }

  .text-box h3 {
    font-size: 17px;
  }

  .styled-table tbody td {
    grid-template-columns: 2.5fr 1fr;
  }

  .styled-table tbody td::before {
    max-width: 200px;
  }

  .map-reception-points {
    margin-right: -20px;
    margin-left: -20px;
    width: calc( 100% + 40px);
  }

  .btn2 {
    background: #F0F1F7;
  }

  .btn2:hover {
    background: rgba(240, 241, 247, 0.8);
  }

  .breadcrumbs-box {
    padding: 14px 18px;
  }

  .breadcrumbs__home {
    margin-right: 14px;
  }

  .card-item-rate__rating {
    margin-right: 10px;
  }

  .card-item-contacts__icon {
    margin-right: 5px;
  }

  .card-item-contacts__phone {
    font-size: 15px;
  }

  .card-item-contacts__link {
    font-size: 15px;
  }

  .card-item {
    margin-right: -20px;
    margin-left: -20px;
  }

  .card-item__title {
    font-size: 17px;
  }

  .card-main__head {
    background: none !important;
    padding: 0;
  }

  .card-main__head-btns {
    padding: 15px 15px 0;
  }

  .card-main__head-btn {
    margin: 5px 5px 0;
  }

  .card-main__head-btn:last-child {
    margin: 5px 5px 0;
  }

  .card-main__head-inner {
    padding: 30px 20px;
    min-height: 200px;
  }

  .card-main__logo {
    margin-left: -8px;
  }

  .card-main__inner {
    padding: 20px 20px 40px;
  }

  .card-main__footer-btns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .card-main__footer-btn {
    max-width: 100%;
    width: 100%;
    margin: 0 0 8px;
  }

  .card-main__more {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .card-main__text:not(._active) .card-main__mobile-hidden {
    display: none;
  }

  .card-info {
    margin-right: -20px;
    margin-left: -20px;
  }

  .header__search {
    max-width: 40px;
  }

  .header-search__input {
    padding: 0 15px;
    color: transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .header-search__input::-webkit-input-placeholder {
    opacity: 0;
  }

  .header-search__input::-moz-placeholder {
    opacity: 0;
  }

  .header-search__input:-ms-input-placeholder {
    opacity: 0;
  }

  .header-search__input::-ms-input-placeholder {
    opacity: 0;
  }

  .header-search__input::placeholder {
    opacity: 0;
  }

  .header-search__input:focus {
    color: #525470;
    width: calc(100vw - 120px);
  }

  .header-search__input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  .header-search__input:focus::-moz-placeholder {
    opacity: 1;
  }

  .header-search__input:focus:-ms-input-placeholder {
    opacity: 1;
  }

  .header-search__input:focus::-ms-input-placeholder {
    opacity: 1;
  }

  .header-search__input:focus::placeholder {
    opacity: 1;
  }

  .footer-contacts__item {
    margin-bottom: 20px;
  }

  .footer-contacts__mail {
    line-height: 21px;
  }

  .footer__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 24px;
  }

  .footer__right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .sidebar__item {
    margin-bottom: 20px;
  }

  .sidebar_filter .sidebar__inner {
    max-width: 270px;
  }

  .location__list {
    grid-template-columns: 100%;
    gap: 10px 10px;
  }
}

@media (hover: hover) {
  .btn-location__inner:hover {
    z-index: 1;
    border-color: #759159;
    color: #759159;
    -webkit-box-shadow: 0 4px 12px rgba(158, 181, 135, 0.5);
    box-shadow: 0 4px 12px rgba(158, 181, 135, 0.5);
  }

  .btn-location__inner:hover img {
    height: 152px;
    margin-top: 5px;
    margin-bottom: -4px;
  }

  .btn-location__inner:active {
    border-color: #9eb587;
    color: #9eb587;
  }
}